@import '../../styles/vars'

.Issues
	&__sort
		display: flex

		&-label
			color: $gray
			margin-right: 10px
			font-size: 18px

		&-select
			display: flex
			align-items: center
			margin-right: 30px

			&:last-child
				margin-right: 0

	
	&__form
		display: flex
		justify-content: space-between
		width: 100%
		margin-top: 30px

		.Input
			flex: 1
			margin-right: 20px
				

	&__list
		margin-top: 20px
		width: 100%
		text-align: left

		&-items
			position: relative
			min-height: 100px

	&__pagination
		justify-content: center
		margin-top: 40px

	&__preloader
		position: relative
		height: 100px

	&__item
		display: flex
		align-items: center
		justify-content: space-between
		width: 100%
		padding: 20px 35px 20px 30px 
		border-radius: $border-radius
		border-bottom: 1px solid $light
		transition: background-color .3s

		&:hover
			background-color: $light

		&-content
			flex: 1
			padding-left: 30px

			&-top
				display: flex
				justify-content: space-between

		&-labels
			display: flex
			flex: 1
			flex-wrap: wrap

		&-label
			font-size: 14px
			padding: 6px 10px 4px
			border-radius: 12px
			margin-right: 10px
			margin-bottom: 10px

		&-title
			width: 80%
			span
				margin-left: 10px
				color: $gray

		&-info
			margin-bottom: 10px
			padding-left: 30px

		&-date
			font-size: 14px
			margin-bottom: 10px
			margin-left: 10px

		&-state
			color: $red
			&--open
				color: $green


@media only screen and ( max-width:  700px)
	.Issues
		&__sort
			width: 100%
			margin-top: 20px
			flex-wrap: wrap

			&-select
				margin-top: 10px

		
		&__form
			flex-wrap: wrap

			.Input
				width: 100%
				flex: auto
				margin-bottom: 20px
				margin-right: 0

			.Button
				width: 100%


		&__item
			flex-wrap: wrap
			padding-left: 20px

			&-title
				width: 100%

			&-content
				flex: auto
				width: 100%
				padding-left: 0

				&-top
					flex-wrap: wrap

			&-labels, &-info
				width: 100%
				margin-top: 20px

			&-info
				padding-left: 0